<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yjg.mapper.FeedbackMapper">
    <resultMap type="com.yjg.entity.Feedback" id="feedbackMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
		<result column="wxuserId" property="wxuserId" jdbcType="INTEGER"/>
		<result column="info" property="info" jdbcType="VARCHAR"/>
		<result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="isRead" property="isRead" jdbcType="CHAR"/>
	</resultMap>
	
	<!-- 根據起始行獲取7條微信用戶反饋 -->
	<select id="selectAllFeedback" resultMap="feedbackMap" parameterType="java.lang.Integer">
		SELECT f.id, f.info, f.createDate, f.isRead, 
		w.openid "wxUser.openid"
		FROM tb_feedback f
		INNER JOIN tb_wxuser w
		ON f.wxuserId = w.id
		LIMIT #{row}, 7
	</select>
	
	<!-- 查詢用戶反饋數量 -->
    <select id="selectAllFeedbackCount" resultType="int">
        SELECT COUNT(*) FROM tb_feedback
    </select>
	
	<!-- 根據起始行和讀寫狀態查詢7條微信用戶反饋 -->
    <select id="selectAllFeedbackByIsRead" resultMap="feedbackMap">
        SELECT f.id, f.info, f.createDate, f.isRead, 
        w.openid "wxUser.openid"
        FROM tb_feedback f
        INNER JOIN tb_wxuser w
        ON f.wxuserId = w.id
        WHERE f.isRead = #{isRead}
        LIMIT #{row}, 7
    </select>
    
    <!-- 根據讀寫狀態查詢用戶數量 -->
    <select id="selectAllFeedbackCountByIsRead" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(*) FROM tb_feedback WHERE isRead = #{isRead}
    </select>
	
	<!-- 根據id查詢用戶反饋 -->
	<select id="selectFeedbackById" resultMap="feedbackMap" parameterType="java.lang.Integer">
		SELECT f.id, f.info, f.createDate, f.isRead, 
		w.openid "wxUser.openid"
        FROM tb_feedback f
        INNER JOIN tb_wxuser w
        ON f.wxuserId = w.id
        WHERE f.id = #{id}
	</select>
	
	<!-- 根據id修改用戶反饋讀寫狀態 -->
    <update id="updateFeedbackIsReadById">
        UPDATE tb_feedback SET isRead=#{isRead} WHERE id = #{id}
    </update>
    
    <!-- 把全部未讀用戶反饋標為已讀 -->
    <update id="updateFeedbackIsRead">
        UPDATE tb_feedback SET isRead='已讀' WHERE isRead ='未讀'
    </update>
	
	<!-- 根據id刪除用戶反饋 -->
	<delete id="deleteFeedbackById" parameterType="java.lang.Integer">
	   DELETE FROM tb_feedback WHERE id = #{id}
	</delete>
    
    <!-- 根據多個id刪除多個對應的用戶反饋 -->
    <delete id="deleteFeedbackByIds" parameterType="Integer[]">
       DELETE FROM tb_feedback 
       <where>
            id
            <foreach collection="id" item="i" open="in(" close=")" separator=",">
                #{i}
            </foreach>
       </where>
    </delete>
	
</mapper>